@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* headline style */
 .btn{
    cursor:pointer;

 }
 .btn:hover{
    background-color:red;
 }
.headline{
    display:flex;
    gap: 1130px;
    margin-bottom:40px;
}
.h-title{
 color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
}
.h-btn{
    margin-top:20px;
width: 116px;
height: 52px;
/* padding: 15px 30px 15px 30px; */
    border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
justify-content: center;
align-items: center;
}


/* banner style */
.banner{
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 100px;
    gap:64px;
    width:1280px;
    margin-bottom: 80px; 

}
.bannertitle{
color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.banner-skill{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}
.bannerbtn{
   /* Frame 2 */
/* position: static; */
width: 270px;
height: 56px;
border-radius: 8px;
background-color: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight:600;

}

/* pillars style */
.pillars{
    width:1480px;
   margin-bottom: 80px; 

}
.pillars-title{
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
}
.pillars-container{
    display:flex;
    justify-content: space-between;
    /* flex-irection:column; */
    /* justify-content: flex-start;
align-items: flex-start; */
gap:24px;
}
.pillars-box{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background-color: rgb(255, 255, 255);

padding: 24px;
}
.pillars-subtitle{
    color: rgba(14, 14, 14, 0.8);font-size: 20px;
font-weight: 700;
}
.pillarsdescription{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
/* future-style */
.future{
    gap:32px;
    width:1480px;;
}
.future-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700; 
}
.description{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.future-box{
    padding:32px;
border-radius: 16px;
background-color: rgba(84, 144, 245, 0.2);
}
.box-title{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
}
.box-despription{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.box-btn{
border-radius: 8px;
background-color: rgb(84, 144, 245);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
padding: 11px 20px 11px 20px;
}
.f-color-2{
    background-color: rgb(9, 161, 92);
}
.f-color-3{
    background: rgb(255, 194, 57); 
}
.future-container{
    display:flex;
    flex-direction: ;
    justify-content: flex-start;
align-items: flex-start;
gap:24px;
margin-bottom:32px;
}
.ynnus{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 48px 24px 48px 24px;
background-image: url(assets/quote-bg.png);
background-repeat:no-repeat;
background-position:28px 40px;
margin-bottom:45px;
}
.ynnus-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;  
}
.ynnus-subtitle{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;  
}
.ynnus p{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}

/* news style */
.news{
    width:1480px;
}
.news-title{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.news-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.news-img{
    position: static;
    width: 408px;
    height: 306px; 
    border-radius: 24px;
}
.news-headline{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
}
.news-time{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.box-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.news-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
background-color: rgb(0, 106, 80);
padding: 13px 26px 13px 26px;
}
.news-box{
    padding: 48px;
    border-radius: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
background-color: rgb(255, 255, 255);
display:flex; 
gap:80px;
text-align: start;
/* height: 402px; */
/* flex-direction: row;
align-items: flex-start; */
margin-bottom: 30px;

}
.news-img{
    margin-top: 20px;
}
.news-content{
   
}
/* donate style */
.donate{
  width:1480px;
}
.donate-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.donate-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.taka-container{
    display: flex;
    gap:44px;
    align-items: center;
    justify-content: center;
}

.taka-box{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    gap-left: 24px;
}
.input-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
}
.input-wrapper input{
    padding: 20px 40px 20px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
background-color: rgb(255, 255, 255);
width: 1032px;

}
.btn-con{
display:flex;
justify-content: center;
margin-top: 30px;
}
.done-taka{
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px; 
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600; 
}
/* subs-news style */
.subs-news{
    margin-top:50px;
  width:1480px;
  padding: 80px 100px 80px 100px;
  border-radius: 24px;
background-color: rgb(198, 228, 214);
}
.subs-titlel{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.sub-contain{
    margin-left:350px;
}
.subs-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.email-subs{
    padding: 18px 40px 18px 40px;
    border-radius: 8px 0px 0px 8px;
background-color: rgb(255, 255, 255);
width: 600px;
}
.subscribe-btn{
    width: 150px;
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
background-color: rgb(0, 106, 80);
}
.subs-last{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* last section style */
.last-section{
    margin-top: 50px;
width:1480px;
}
.last-title{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
text-align: center;
border-bottom:1px solid rgba(14, 14, 14, 0.1); 
padding-bottom:20px;
margin:auto;
}
.last-container{
    margin-top: 20px;
  display: flex;
  justify-content: center;
  gap:30px;
  margin-right: 7px;
}
.social-side{

}